<<<<<<< HEAD

<div>
	<h3>Liste des villes </h3>
	<table class="data">
	<tr class="data">
		<th class="data"><?php echo $this->Paginator->sort('id'); ?></th>
			<th class="data"><?php echo $this->Paginator->sort('nom'); ?></th>
			
		
			<th  class="data">Actions</th>
	</tr>
	<?php foreach ($villes as $ville):?>
	<tr>
			<td class="data"><?php echo h($ville['Ville']['id']); ?>&nbsp;</td>
			<td class="data"><?php echo h($ville['Ville']['nom']); ?>&nbsp;</td>
			

             <td  class="data">
			
				<?php echo $this->Html->link(__('View'), array('action' => 'view', $ville['Ville']['id_ville'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $ville['Ville']['id_ville'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $ville['Ville']['id_ville']), null, __('Are you sure you want to delete # %s?', $ville['Ville']['id_ville'])); ?>
</td>
<tr></tr>
<?php endforeach;?>
</table>
=======
<div>
<h3>Liste des villes </h3>
<table class="data">
<tr class="data">
<th class="data"><?php echo $this->Paginator->sort('id'); ?></th>
<th class="data"><?php echo $this->Paginator->sort('nom'); ?></th>


<th class="data">Actions</th>
</tr>
<?php foreach ($villes as $ville):?>
<tr>
<td class="data"><?php echo h($ville['Ville']['id']); ?>&nbsp;</td>
<td class="data"><?php echo h($ville['Ville']['nom']); ?>&nbsp;</td>


<td class="data">
<?php echo $this->Html->link(__('Afficher|'), array('action' => 'view', $ville['Ville']['id'])); ?>
<?php echo $this->Html->link(__('Modifier|'), array('action' => 'edit', $ville['Ville']['id'])); ?>
<?php echo $this->Form->postLink(__('Supprimer'), array('action' => 'delete', $ville['Ville']['id']), null, __('Are you sure you want to delete # %s?', $ville['Ville']['id'])); ?>
</td>
</tr>
<?php endforeach; ?>
</table>
<p>
<?php
echo $this->Paginator->counter(array(
'format' => __('Page {:page} de {:pages}, Affichage de {:current} enregistrements du Total : {:count} , Départ {:start}, Fin {:end}')
));
?>
<?php
echo $this->Paginator->prev(' << ' . __('Précedant'), array(), null, array('class' => 'prev disabled'));
echo $this->Paginator->numbers(array('separator' => ''));
echo $this->Paginator->next(__(' - Suivant') . ' >>', array(), null, array('class' => 'next disabled'));
?>	</p>
>>>>>>> 56b25581018f1d1590b6ad95579227e35e046a86
</div>