<div class="users view">
<p class="inscriptionf"><?php  echo __('Ville'); ?> :</p>
	<dl>
		<u><b><dt><?php echo __('Id'); ?> :</dt></b></u><br>
		<dd>
			<?php echo h($ville['Ville']['id']); ?><br>
			&nbsp;
		</dd>
		<b><u><dt><?php echo __('nom'); ?> :</b></u></dt><br>
		<dd>
			<?php echo h($ville['Ville']['nom']); ?><br>
			&nbsp;
		</dd>
		
	</dl>
	</div>