<ul>
<li>Adresse : <?= $widget['Informations']['Information']['adresse'];?></li>
<li>Tel : <?= $widget['Informations']['Information']['tel'];?></li>
<li>Fix : <?= $widget['Informations']['Information']['fix'];?></li>
<li>Fax : <?= $widget['Informations']['Information']['fax'];?></li>
</ul>