<li><a class="active sf-with-ul" href="#">Plantes<span class="sf-sub-indicator"></span></a>

<ul class="sub-menu" style="float: none; width: 14em; display: none; visibility: hidden;">


<?php
$i = 0; 
foreach($widget['Famille'] as $news): ?>

<li style="white-space: normal; float: left; width: 100%;"><a href="<?php echo $this->Html->url("liste_plantes_par_famille/",$widget['Familles'][$i]['Famille']['id'])?>" style="float: none; width: auto;"><?= $widget['Familles'][$i]['Famille']['famille'];$i = $i + 1; ?></a></li>

<?php endforeach;?>


</ul>
</li>