<?php

foreach($widget['Directeur'] as $directeur):?>
<h5>Mr. <?= $directeur['nom']." ".$directeur['prenom'];?></h5>
<p><?php
if(strlen($directeur['mot_de_Directeur'])> 400)
{ $mot = substr($directeur['mot_de_Directeur'],0,400);echo $mot."... <a href=".$this->Html->url(array('controller'=>'Directeurs','action'=>'view/1',)).">Lire la suite </a>";
}else
{
    echo $directeur['mot_de_Directeur'];
} ?>
</p>

<?php endforeach;?>