<center>
<marquee  behavior="scroll" direction="up" scrollamount="2" >
<?php
$i = 0; 
foreach($widget['News'] as $news): ?>
<h5><?= $widget['News'][$i]['News']['titre'];?></h5>
<a href="#"><?= $widget['News'][$i]['News']['texte'];$i = $i + 1; ?></a>

<?php endforeach;?>
</marquee>
</center>

  