<ol>

<?php
$i = 0; 
foreach($widget['SitesAmis'] as $sitesami): ?>
<li><a href="<?php echo $this->Html->url($widget['SitesAmis'][$i]['SitesAmi']['url'])?>" target="_new"><?= $widget['SitesAmis'][$i]['SitesAmi']['titre'];?></a></li>
<?php $i = $i + 1; ?>

<?php endforeach;?>

</ol>    