<?php foreach ($grains as $grain):;?>
<p class="zoom">  <?php echo $this->Html->image("upload/".$grain['Grain']['image']);?></p>

<li class="plante1"><?php echo "Nom:"; ?></li>
  <p class="contenupl"><?php echo $grain['Grain']['nom'];?></p>
  
<li class="plante1"><?php echo "Definition:"?></li>
<p class="contenupl"><?php echo $grain['Grain']['definition']."</p>"; ?>

<li class="plante1"> <?php echo "Prix:" ?></li>
<p class="contenupl"> <?php echo $grain['Grain']['prix']."DH";?></p></ul>


<?php echo "<hr/>";?>
<?php endforeach;
?>




