<div class="users view">
<p class="inscriptionf"><?php  echo __('Paiement'); ?> :</p>
	<dl>
		<u><dt><?php echo __('date'); ?> :</dt></b></u><br>
		<dd>
			<?php echo h($paiement['Paiement']['date']); ?><br>
			&nbsp;
		</dd>
		
		
	</dl>
	</div>
	
	