<div class="clients form">
<?php echo $this->Form->create('Client'); ?>
	<fieldset>
		<legend class="inscriptionf"><?php echo __('Etape 1 : Informations personnels :'); ?></legend><br>
	
	<p class="inscriptionchamps">
    <table>
    <tr><td>Nom : </td><td><?php	echo $this->Form->input('nom',array('label'=>''));?></td></tr>
     <tr><td>Prénom : </td><td><?php	echo $this->Form->input('prenom',array('label'=>''));?></td></tr>
      <tr><td>Adresse : </td><td><?php	echo $this->Form->input('adresse',array('label'=>''));?></td></tr>
      <tr><td>Tel : </td><td>	<?php	echo $this->Form->input('tel',array('label'=>''));?></td></tr>
       <tr><td>Ville :</td><td><?php	echo $this->Form->input('ville_id',array('label'=>''));?></td></tr>
    </table>
    
	
	

	
	
	</fieldset>
<?php echo $this->Form->end(__('Suivant')); ?>
</div>
