<div class="clients form">
<?php echo $this->Form->create('Client'); ?>
	<fieldset>
		<legend class="inscriptionf"><?php echo __('Modifier vos nformations personnels :'); ?></legend><br>
	
	<p class="inscriptionchamps"><?php	echo $this->Form->input('nom');?></p>
	<?php	echo $this->Form->input('prenom');?>
	<?php	echo $this->Form->input('adresse');?>
	<?php	echo $this->Form->input('tel');?><br>
	<?php	echo $this->Form->input('ville_id');?><br>
	
	</fieldset>
<?php echo $this->Form->end(__('Suivant')); ?>
</div>
