<?php 
foreach ($news as $new): ?>
<p class="zoom"><?php
 echo $this->Html->image("upload/".$new['News']['image']); ?></p>
 <p class="plante1"><?php echo $new['News']['titre']."du".":&nbsp;". $new['News']['created']."au"."&nbsp;".$new['News']['created'] ; ?><p>
  <p class="contenupl"><?php echo $new['News']['texte'];?></p>
  
 

 
 <?php echo "<hr>";
 
?>


<?php endforeach;?>
 