 
#o{
 text-decoration:underline;
 font-family:"sans_serrif" ;
 margin-left:240px;
 
 }




#a
{

  width:800px;
  height:630px;
  frameborder:0 ;
  scrolling:no;
  marginheight:0px;
  marginwidth:0px;
  margin-top:100px;
  float:left;
  margin-left:90px;
   
 }









