body
 {
 font-size:13pt;
 font-family:verdana, arial;
 }
 form
 {
 width:650px;
 margin:auto;
 margin-top:80px;
 }
 input 
 {
 font-size:14pt;
 border:1px solid red;
 margin-bottom:5px;
 }
 textarea
 {
 background:#ffcc99;
 font-size:14pt;
 border:1px solid red;
 }

 
