<?php foreach ($plantes as $plante):;?>
<section class="eventblock" style="width: 46%;float:left;">

<!-- Start of event block title -->
<div class="eventblocktitle">
<h1><?php echo $plante['Plante']['nom'];?></h1>

</div><!-- End of event block title -->

<!-- Start of event block content -->
<div class="eventblockcontent">
 <center><?php echo $this->Html->image("upload/".$plante['Plante']['image'],array('heigh'=>'200px','width'=>'85%')); ?></center>

<p>

  

<?php echo $plante['Plante']['definition']; ?><br>

<?php echo "Caracteristiques:" ?></li>
 <?php echo $plante['Plante']['caracteristiques'];?><br />

 <?php echo "Prix:" ?></li>
<?php echo $plante['Plante']['prix']."DH <br>";?>

Quantité :</p> <input type="text" value="0" name="qte"/>
<input type="hidden" value="<?php echo $plante['Plante']['id'];?>" name="idp"/>
<!-- Start of event cost -->




<!-- Start of read more button -->
<div class="button" >

<a href="event_detail.html">Ajouter au panier</a>

<!-- Start of clear fix --><div class="clear"></div>

</div><!-- End of read more button -->

</div><!-- End of event block content -->




</section>


<?php endforeach;
?>