<div class="news form">
<?php echo $this->Form->create('News',array('type'=>'file')); ?>
	<fieldset>
		<legend><?php echo __('Add News'); ?></legend>
	<?php
		echo $this->Form->input('titre');
		echo $this->Form->input('texte');
<<<<<<< HEAD
        echo $this->Form->input('url');
        echo $this->Form->input('News.image',array('type'=>'file','error'=>array('attributes'=>array('wrap'=>'span','class'=>'help-inline error')),'label'=>false,"class"=>"span")); 
=======
        zayad ===secho $this->Form->input('News.image',array('type'=>'file','error'=>array('attributes'=>array('wrap'=>'span','class'=>'help-inline error')),'label'=>false,"class"=>"span")); 
>>>>>>> b3b536e73eaa4defae64dd2dfca192aa74158aef
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>

		<li><?php echo $this->Html->link(__('List News'), array('action' => 'index')); ?></li>
	</ul>
</div>
