<ul class="famille"><?php
 echo "Famille:"
  ?><ul>
  
  
  
	<?php foreach ($familles as $famille): ?>



<li><?php
echo $famille['Famille']['famille']; ?></li>
  
  
 
<?php endforeach;?>
 
 