	<h3>Panneau de contrôle</h3>
	<div class="quoteOfDay">
	<b>Votre Satisfaction :</b><br>
	<i style="color: #5b5b5b;">"Notre Résponsabilité"</i>
	</div>
		<div class="shortcutHome">
		<a href=""><?php echo $this->Html->image("img-admin/info.png")?><br>Vos Informations</a>
		</div>
		<div class="shortcutHome">
		<a href=""><?php echo $this->Html->image("img-admin/plant.png")?><br>Maj Plantes</a>
		</div>
		<div class="shortcutHome">
		<a href=""><?php echo $this->Html->image("img-admin/grain.png")?><br>Maj Grains</a>
		</div>
		<div class="shortcutHome">
		<a href=""><?php echo $this->Html->image("img-admin/posting.png")?><br>Maj Nouveautés</a>
		</div>
		<div class="shortcutHome">
		<a href=""><?php echo $this->Html->image("img-admin/bukutamu.png")?><br>Maj Messages</a>
		</div>
		<div class="shortcutHome">
		<a href=""><?php echo $this->Html->image("img-admin/site.png")?><br>Maj Sites Amis</a>
		</div>
		<div class="shortcutHome">
		<a href=""><?php echo $this->Html->image("img-admin/bukutamu.png")?><br>Maj Outils</a>
		</div>

		
		<div class="clear"></div>
		
	