<h1>Envoyer un message</h1>
<form action="http://mythemepreviews.com/nature-html/mailer.php" id="contact_form" method="post">

<p>
<label>Name</label><br>
<input type="text" name="name" id="name" value="" class="requiredField name">
</p>
                                                        
<p>
<label>Email Address</label><br>				
<input type="text" name="email" id="email" value="" class="requiredField email">                        
</p>
        
<p>
<label>Your Message</label><br>
<textarea name="message" id="message" rows="20" cols="30" class="requiredField message"></textarea>
</p>
                
<p><input name="submitted" id="submitted" value="Submit" class="submit" type="submit">
</p>



</form>
