<!-- Start of slider wrapper -->
<section class="slider_wrapper">

<!-- Start of slider -->
<section class="slider"> &nbsp;&nbsp;

<ul class="slides">

<li style="width: 100%; float: left; margin-right: -100%; display: list-item; "><a href="#" target="_new" title="Slide Title 1"><img src="img/T2.jpg" alt="slide 1"></a></li>
<li style="width: 100%; float: left; margin-right: -100%; display: none; "><a href="#" target="_new" title="Slide Title 2"><img src="img/cache3.jpg" alt="slide 2"></a></li>
<li style="width: 100%; float: left; margin-right: -100%; display: none; "><a href="#" target="_new" title="Slide Title 3"><img src="img/T3.jpg" alt="slide 3"></a></li>
<li style="width: 100%; float: left; margin-right: -100%; display: none; "><a href="#" target="_new" title="Slide Title 4"><img src="img/cache_pot.jpg" alt="slide 4"></a></li>
    
</ul>
    
<ol class="flex-control-nav"><li><a class="active">1</a></li><li><a class="">2</a></li><li><a class="">3</a></li><li><a class="">4</a></li></ol></section><!-- End of slider -->

<!-- Start of clear fix --><div class="clear"></div>

</section><!-- End of slider wrapper -->