

<h3 id="map">Localisation de la pepiniere</h3>
<iframe id="mape" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=Ecole+Sup%C3%A9rieure+de+Technologie,+Oujda,+Oriental,+Maroc&amp;aq=0&amp;oq=ecole+superieur&amp;sll=34.686667,-1.911389&amp;sspn=0.17503,0.363579&amp;g=Oujda,+Oriental,+Maroc&amp;ie=UTF8&amp;hq=Ecole+Sup%C3%A9rieure+de+Technologie,+Oujda,+Oriental,+Maroc&amp;ll=34.64916,-1.897588&amp;spn=0.006295,0.006295&amp;t=m&amp;output=embed"></iframe><br />
