
<div class="tit">Bienvenue sur votre pepiniere en ligne
<span> Jardin d"Orient </span></div>

 <hr/>
 <span id="z">Qui somme nous !</span><br>
   <p class="r" style="text-indent: 50px;"> Créée en 2012 , Jardin d’Orient est une pépinière située
     à proximité de la ville d’Oujda, d’une surface de 35 hectares, 

     des arbres et arbustes de pleine terre. La production de cette 
     jardinerie se situe dans des champs à l'air libre et en container, 
     offrant une excellente qualité de robustesse à ses plantes.
   Notre  pépinière cultive , soigne, produit et propose à la vente 
   toutes sortes de plantes, par des pépiniéristes qui ont été choisis 
   soigneusement en fonction de la qualité de leur travail, leur expérience
    et leur professionnalisme.
Notre objectif, c'est votre satisfaction
    Notre boutique en ligne, vous propose la vente  d’un large choix de plantes,
     arbustes et d’arbres ainsi qu’un kit d’accessoires, de grains 
     et d’outils agricoles manuels, visant en principe votre  plaisir d'avoir votre propre verger et de récolter vos propres plantes. Vous trouverez aussi des conseils  pour l'entretien et l'aménagement de votre jardin, le choix des plantes et leur plantation. 
     Puisque votre confort nous intéresse, nous vous proposons la possibilité d’une livraison rapide, en meilleurs conditions et à temps partout au Maroc .
 </p>
 <hr>
<div class="tit">Offre de Bienvenue </div>
<center><p id="a"><span id="b">"Helianthus Annuus - Tournesol Velvet Queen"</span> <br>offert pour toute premiere commande</p></center>
<center><?php echo $this->Html->image("hel.jpg",array("width"=>"200px","height"=>"200px"))?><br> </center>

<hr>

 <span class="r">Donc quelle que soit la saison, faites-vous plaisir au jardin, en plantant, binant, fertilisant vos végétaux. 
  A l'approche du printemps, de l’été, de l'automne et de l'hiver.<br>
  </span>
 
<hr>
<center><?php echo $this->Html->image("livg.jpg")?></center>

<center><?php echo $this->Html->image("pai.jpg")?></center>



 
 