<h3>Modifier les informations de Directeur</h3>

<?php echo $this->Form->create('Directeur'); ?>

<table width="100%">
  <tr><td>Nom du directeur :</td><td><?php	echo $this->Form->input('nom',array('label'=>''));?></td></tr>
  <tr><td>Prénom du directeur :</td><td><?php	echo $this->Form->input('prenom',array('label'=>''));?></td></tr>
  <tr><td>Mot  :</td><td><?php	echo $this->Form->input('mot_de_Directeur',array('label'=>''));?></td></tr>

</table>

<?php echo $this->Form->end(__('Valider la modification')); ?>


