<div class="directeurs index">
	<h2><?php echo __('Directeurs'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('nom'); ?></th>
			<th><?php echo $this->Paginator->sort('prenom'); ?></th>
			<th><?php echo $this->Paginator->sort('mot_de_Directeur'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($directeurs as $directeur): ?>
	<tr>
		<td><?php echo h($directeur['Directeur']['id']); ?>&nbsp;</td>
		<td><?php echo h($directeur['Directeur']['nom']); ?>&nbsp;</td>
		<td><?php echo h($directeur['Directeur']['prenom']); ?>&nbsp;</td>
		<td><?php echo h($directeur['Directeur']['mot_de_Directeur']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $directeur['Directeur']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $directeur['Directeur']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $directeur['Directeur']['id']), null, __('Are you sure you want to delete # %s?', $directeur['Directeur']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Directeur'), array('action' => 'add')); ?></li>
	</ul>
</div>
