<section class="eventblock" width="98%">
<div class="eventblocktitle">
<h1><?php echo "Mr.".h($directeur['Directeur']['nom'])." ".h($directeur['Directeur']['prenom']); ?></h1>

</div>

<p><?php echo h($directeur['Directeur']['mot_de_Directeur']); ?></p>	

</section>






