<div class="commandes form">
<?php echo $this->Form->create('Commande'); ?>
	<fieldset>
	<legend class="inscriptionf"><?php echo __('Ajouter votre Commande :'); ?></legend><br>
	
	     <b><?php echo $this->Form->input('date');?></b><br>


	</fieldset>
<?php echo $this->Form->end(__('Envoyer')); ?>
</div>
