<?php 
foreach($information as $info):
echo "<br>"."Presentation de la pepiniere : ".$info['Information']['presentation']."<br>";
echo "<br>"."Adresse de la pepiniere : ".$info['Information']['adresse']."<br>";
echo "<br>"."Tele : ".$info['Information']['tel']."<br>";
endforeach;
?>
