<ul class="famille"><?php
 echo "Secteur:"
  ?><ul>
  
  
  
	<?php foreach ($secteurs as $secteur): ?>



<li><?php
echo $secteur['Secteur']['secteur']; ?></li>
  
  
 
<?php endforeach;?>
 
 
 