<div class="users form">
<?php echo $this->Form->create('User'); ?>
	<fieldset>
	<legend class="inscriptionf"><?php echo __('Etape 2 : Information de votre compte :'); ?></legend><br>
	<table>
    
    <tr><td>Login : </td><td> <?php echo $this->Form->input('login',array('label'=>''));?></td></tr>
       <tr><td>Password : </td><td>	<?php echo $this->Form->input('password',array('label'=>''));?></td></tr>
    </table>
	   
	

	</fieldset>
<?php echo $this->Form->end(__('Envoyer')); ?>
</div>
