<div class="users form">
<?php echo $this->Form->create('User'); ?>
	<fieldset>
	<legend class="inscriptionf"><?php echo __('Modifier votre Compte :'); ?></legend><br>
	
	     <b><?php echo $this->Form->input('Nouveau login &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp');?></b><br>
		<b><?php echo $this->Form->input('Nouveau password &nbsp&nbsp');?></b><br>

	</fieldset>
<?php echo $this->Form->end(__('Envoyer')); ?>
</div>
