<h1>Formulaire de connexion</h1>
<center><div style="display: inline-block; vertical-align: middle;">
<?php 
echo $this->Session->flash('auth');
echo $this->Form->create('User');
echo $this->Form->input('login');
echo $this->Form->input('password');
echo $this->Form->end("Se connecter");
?></div>
</center>
vous avez pas un compte ? cliquez <a href="<?php echo $this->Html->url(array('action'=>'add','controller'=>'clients'));?>">ici </a>pour créer un
